$firstcolor: rgba(204, 201, 201, 0.288);
$secondcolor: rgba(228, 228, 228, 0.288);
$thirdcolor:rgba(216, 179, 133, 0.356);
$bodycolor:rgba(236, 212, 195, 0.24);



$bordercolors:rgba(121, 118, 118, 0.671);